<div mat-dialog-content class="container">
    <h1>Comment jouer</h1>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class='bx bxs-user-rectangle'></i>
              <span>Compte</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content">
            <div class="pictures">
                <img [src]="imagePath + 'account.png'">
            </div>
            <ul>
                <li>Changez votre nom d'utilisateur</li>
                <li>Apprenez à utiliser l'application</li>
                <li>Supprimez votre compte (nom et médailles !)</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class='bx bxs-folder-open'></i>
              <span>Catégories</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content">
            <div class="pictures">
                <img [src]="imagePath + 'games.png'">
            </div>
            <ul>
                <li>Choisissez un jeu</li>
                <li>Dans Lettres, utilisez les lettres pour trouver un mot ou pays</li>
                <li>Dans Chiffres, utiliser les chiffres pour trouver un nombre</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class='bx bxs-game'></i>
              <span>Jeux</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content">
            <ul>
                <li>Motus</li>
                Trouvez un mot, indices : première lettre, couleurs rouge et jaune
                <li>Drapeau</li>
                Trouvez un pays, indices : drapeau, couleurs rouge et jaune
                <li>Meli Melo</li>
                Trouvez un mot, indices : lettres mélangées et couleur rouge
                <li>Juste Prix</li>
                Trouvez un nombre, indices : flèches vertes si + et rouge si -
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class='bx bxs-medal'></i>
                <span>Médailles</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-content">
                <div class="pictures">
                    <img class="small" [src]="imagePath + 'medals.png'">
                </div>
                <ul>
                    <li>Gagnez des médailles en jouant</li>
                </ul>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="buttons">
        <a class="cancel" title="cancel" (click)="cancel()">
            <i class='bx bxs-hand-right'></i>
            <span>C'est parti</span>
        </a>
    </div>
</div>