<div mat-dialog-content class="container">
    <h1>Comment jouer</h1>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class='bx bxs-user-rectangle'></i>
              <span>Compte</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content">
            <div class="pictures">
                <img [src]="imagePath + 'account.png'">
            </div>
            <ul>
                <li>Changez votre nom d'utilisateur</li>
                <li>Apprenez à utiliser l'application</li>
                <li>Supprimez votre compte (nom et médailles !)</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class='bx bxs-game'></i>
              <span>Jeux</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content">
            <div class="pictures">
                <img [src]="imagePath + 'games.png'">
            </div>
            <ul>
                <li>Choisissez un jeu</li>
                <li>Dans Motus, devinez un mot avec sa première lettre</li>
                <li>Dans Drapeau, devinez un pays avec son drapeau</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class='bx bxs-joystick-alt'></i>
                <span>Objectif</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-content">
                <div class="pictures">
                    <img [src]="imagePath + 'play.png'">
                </div>
                <ul>
                    <li>Trouvez un mot français en moins de 6 tentatives</li>
                    <li>Une lettre rouge indique une bonne lettre au bon endroit</li>
                    <li>Une lettre jaune indique une bonne lettre au mauvais endroit</li>
                </ul>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class='bx bxs-medal'></i>
                <span>Médailles</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-content">
                <div class="pictures">
                    <img class="small" [src]="imagePath + 'medals.png'">
                </div>
                <ul>
                    <li>Gagnez des médailles en jouant</li>
                    <li>Moins il y a de tentatives plus la récompense est grande</li>
                    <li>10 médailles d'argent = 1 médaille d'or</li>
                </ul>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="buttons">
        <a class="cancel" title="cancel" (click)="cancel()">
            <i class='bx bxs-hand-right'></i>
            <span>C'est parti</span>
        </a>
    </div>
</div>