<div class="container">
    <a title="Home" routerLink="/">
        <i class='bx bxs-home'></i>
        <span>Home</span>
    </a>
    <div class="title">
        <i [class]="logo"></i>
        <h1>{{game}}</h1>
    </div>
    <div class="medals">
        <div class="gold">
            <span class="victory-number">{{medals[0]}}</span>
            <i class='bx bxs-medal'></i>
        </div>
        <div class="silver">
            <span class="victory-number">{{medals[1]}}</span>
            <i class='bx bxs-medal'></i>
        </div>
    </div>
</div>