.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
}

.title i {
    margin-right: 20px;
    font-size: 40px;
    color: var(--primary);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.victory-number {
    margin-right: 2px;
    font-size: 22px;
    font-weight: 600;
}

.player i {
    font-size: 32px;
    color: var(--secondary);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 12px;
    box-shadow:  5px 5px 16px #12161b,
             -5px -5px 16px #48566b;
    background: var(--background);
    border-radius: 10px;
    transition: 0.5s ease;
}

a:hover {
    box-shadow: inset 5px 5px 16px #12161b,
            inset -5px -5px 16px #48566b;
}

a i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--text);
}

a span {
    font-size: 20px;
    font-weight: 500;
}

a:link, a:visited {
    color: var(--text);
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        margin-top: 20px;
    }
}