<form (ngSubmit)="joinRoom()">
  <div class="code-field">
    <input
      maxlength="4"
      aria-label="Code de la room"
      (keydown)="onKeyDown($event)"
      [(ngModel)]="roomCode"
      [ngModelOptions]="{ standalone: true }"
    />
    <span class="placeholder" aria-hidden="true">____</span>
  </div>
  <div class="button-container">
    <button type="submit" title="Rejoindre">
      <i class="bx bxs-log-in-circle"></i>
      <span class="text">Rejoindre</span>
    </button>
  </div>
</form>
