header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  color: var(--accent);
  position: relative;
  min-height: 50px;
}

.project-title {
  top: 20px;
  position: absolute;
  z-index: 2;
}

.project-title h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.switch-container {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 1;
}

.switch-container.medals-container {
  left: unset;
  right: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  background-color: var(--primary);
  color: var(--accent) !important;
  border: none;
  margin: 5px 0;
}

button.active {
  color: var(--primary) !important;
  background-color: var(--accent) !important;
}

.back {
  width: 50px;
  height: 50px;
}

.menu {
  width: 50px;
  height: 50px;
}

button i {
  font-size: 30px;
}

button:hover {
  color: var(--primary) !important;
  background-color: var(--accent) !important;
}

.switch-container button i {
  font-size: 35px;
}

.switch-container button:hover {
  color: var(--primary);
  background-color: var(--accent);
}

.switch-container button .bx-arrow-back {
  font-size: 35px;
}

.description {
  margin-left: 10px;
  font-size: 18px;
}

.medals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  margin: 5px 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 7px;
  padding-right: 3px;
}

.victory-number {
  font-size: 22px;
  font-weight: 600;
}

.medals i {
  font-size: 32px;
}

.players-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  padding: 7px 0;
  padding-left: 8px;
  padding-right: 5px;
  min-height: 36px;
  margin-top: 70px;
  width: 165px;
}

.players-room .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
}

.players-room .player.alt-color {
  color: var(--secondary);
}

.players-room .player .step {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: var(--light-radius);
  padding: 3px 7px;
  padding-left: 5px;
  margin-left: 7px;
}

.players-room .player.alt-color .step {
  background-color: var(--secondary);
}

.slash {
  margin: 0 2px;
}

::ng-deep .mat-mdc-menu-content {
  padding: 10px !important;
  background-color: var(--primary);
}

::ng-deep .mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
}

::ng-deep .mdc-button {
  min-width: 0 !important;
}

::ng-deep .mat-mdc-button:not(:disabled) {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-button:not(:disabled):hover {
  color: var(--primary) !important;
}

::ng-deep .mdc-button__label {
  height: 35px !important;
}

::ng-deep .mat-mdc-button .mat-mdc-button-touch-target {
  height: 50px !important;
}

@media screen and (max-width: 550px) {
  .project-title {
    top: 20px;
  }

  .project-title h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .project-title {
    top: 24px;
  }

  .project-title h1 {
    font-size: 22px;
  }
}
