<header>
  <div class="project-title">
    @if (!isRoomPage() && router.url !== '/' && !router.url.startsWith('/room'))
    {
    <h1>{{ router.url.replace("/", "") }}</h1>
    } @else if(!isRoomPage()) {
    <h1>Game Time</h1>
    }@else {
    <h1>{{ room?.gameName }}</h1>
    }
  </div>
  <div class="switch-container">
    <button mat-button [matMenuTriggerFor]="menu" class="menu" title="Menu">
      <i class="bx bx-menu"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button
        type="button"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Accueil"
        mat-menu-item
      >
        <i class="bx bxs-home"></i>
        <span class="description">Accueil</span>
      </button>
      <button
        type="button"
        routerLink="/profil"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Profil"
        mat-menu-item
      >
        <i class="bx bxs-user"></i>
        <span class="description">Profil</span>
      </button>
      <button
        type="button"
        routerLink="/classement"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Classement"
        mat-menu-item
      >
        <i class="bx bxs-trophy"></i>
        <span class="description">Classement</span>
      </button>
      @if (localStorageService.getRoomId()) {
      <button
        type="button"
        [routerLink]="'/room/' + localStorageService.getRoomId()"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Room"
        mat-menu-item
      >
        <i class="bx bx-play"></i>
        <span class="description">Room</span>
      </button>
      } @if (player().isAdmin) {
      <button
        type="button"
        routerLink="/admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Admin"
        mat-menu-item
      >
        <i class="bx bxs-cog"></i>
        <span class="description">Admin</span>
      </button>
      }
      <button
        type="button"
        (click)="logout()"
        title="Déconnexion"
        mat-menu-item
      >
        <i class="bx bxs-log-out"></i>
        <span class="description">Déconnexion</span>
      </button>
    </mat-menu>
  </div>
  @if (isRoomPage()) {
  <div class="switch-container medals-container">
    <div class="medals">
      <span class="victory-number">{{
        room?.gameName! | medalsNumber : player()
      }}</span>
      <i class="bx bxs-medal"></i>
    </div>
  </div>
  @if (room?.isStarted && !player().isOver) {
  <div class="players">
    @for (otherPlayer of players; track $index) {
    <div
      class="player"
      [ngClass]="{ 'alt-color': otherPlayer.userId !== player().userId }"
    >
      <span class="username">{{ otherPlayer.username }}</span>
      @if (otherPlayer.currentRoomWins.length !== room!.responses.length) {
      <span class="step">
        {{ otherPlayer.currentRoomWins.length + 1 }}<span class="slash">/</span
        >{{ room!.responses.length }}
      </span>
      } @else {
      <span class="step">Terminé</span>
      }
    </div>
    }
  </div>
  } }
</header>
