<header>
  <div class="project-title">
    <h1>{{ getTitle() || "Game Time" }}</h1>
  </div>
  <div class="switch-container">
    <button mat-button [matMenuTriggerFor]="menu" class="menu" title="Menu">
      <i class="bx bx-menu"></i>
    </button>
    <mat-menu #menu="matMenu">
      @for (item of menuItems; track $index) {
      <button
        type="button"
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [title]="item.title"
        mat-menu-item
      >
        <i [class]="item.icon"></i>
        <span class="description">{{ item.title }}</span>
      </button>
      }
      <button
        type="button"
        (click)="logout()"
        title="Déconnexion"
        mat-menu-item
      >
        <i class="bx bxs-log-out"></i>
        <span class="description">Déconnexion</span>
      </button>
    </mat-menu>
  </div>
  @if (isRoomPage()) {
  <div class="switch-container medals-container">
    <div class="medals">
      <span class="victory-number">{{
        room?.gameName! | medalsNumber : player()
      }}</span>
      <i class="bx bxs-medal"></i>
    </div>
  </div>
  @if (room!.isStarted && !player().isOver) {
  <div class="players">
    @for (otherPlayer of sortedPlayers; track $index) {
    <div
      class="player"
      [ngClass]="{ 'alt-color': otherPlayer.userId !== player().userId }"
    >
      <span class="username">{{ otherPlayer.username }}</span>
      @if (otherPlayer.currentRoomWins.length !== room!.responses.length) {
      <span class="step">
        {{ otherPlayer.currentRoomWins.length + 1 }}<span class="slash">/</span
        >{{ room!.responses.length }}
      </span>
      } @else {
      <span class="step">Terminé</span>
      }
    </div>
    }
  </div>
  } }
</header>
