@if (!isOver) { @if (room().gameName === drapeauxGameKey || room().gameName ===
marquesGameKey) {
<div class="container">
  @if (room().gameName === drapeauxGameKey) {
  <span class="continent">{{ room().categoryFilter | continent }}</span>
  } @else if (room().gameName === marquesGameKey) {
  <span class="continent">{{ room().categoryFilter | category }}</span>
  }
  <div class="flag">
    @if(!loading) {
    <img [src]="imageUrl" alt="Image.png" />
    } @else {
    <mat-spinner diameter="34"></mat-spinner>
    }
  </div>
</div>
}
<app-word-input
  [response]="response"
  [room]="room()"
  (emitEvent)="handleEvent($event)"
></app-word-input>
}
