:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 90px;
  background-color: var(--primary);
}

::ng-deep .container mat-spinner {
  width: 50px !important;
}
