.main-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 400px;
    width: 100%;
}

form {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    color: var(--text);
    font-size: 30px;
    font-weight: 500;
    padding: 12px;
    border: none;
    box-shadow: inset 5px 5px 16px #12161b,
            inset -5px -5px 16px #48566b;
    background: var(--background);
    border-radius: 10px;
    height: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    outline: none;
    font-family: monospace;
    width: 90%;
}

.placeholder {
    position: absolute;
    color: var(--text);
    font-size: 30px;
    font-weight: 500;
    padding: 12px;
    border-radius: 10px;
    height: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    outline: none;
    font-family: monospace;
    width: 100%;
    pointer-events: none;
    top: 5px;
    white-space: nowrap;
    width: 90%;
}

.submit {
    display: none;
}

.previous-container {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous {
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text);
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    padding: 12px;
    border: none;
    box-shadow:  5px 5px 16px #12161b,
             -5px -5px 16px #48566b;
    background: var(--background);
    border-radius: 10px;
    height: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    outline: none;
    font-family: monospace;
    width: 100%;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.letter.yellow {
    color: gold;
}

.letter.red {
    color: red;
}

.container i {
    font-size: 40px;
    box-shadow:  5px 5px 16px #12161b,
             -5px -5px 16px #48566b;
    background: var(--background);
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .placeholder, input, .previous {
        letter-spacing: 6px;
    }
}

@media screen and (max-width: 390px) {
    .previous-container {
        width: 97%;
    }
}

@media screen and (max-width: 340px) {
    .previous-container {
        width: 98%;
    }
}