<div class="main-container">
    <div class="container">
        <div class="previous-container" *ngFor="let try of tries">
            <div class="previous">
                <span class="letter" *ngFor="let letter of try.letter; let i = index" [ngClass]="{ 'red': try.isRed[i], 'yellow': try.isYellow[i] }">
                    {{ letter }}
                </span>
            </div>
        </div>
        <form (ngSubmit)="submitAnswer()">
            <input [attr.maxlength]="maxlength" (keydown)="onKeyDown($event)" [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}">
            <span class="placeholder">{{wordToFind}}</span>
            <button class="submit" type="submit">Submit</button>
        </form>
        <i [ngClass]="emojiClass" [ngStyle]="emojiStyle"></i>
    </div>
</div>