<app-header
  [game]="'juste prix'"
  [logo]="'bx bxs-badge-dollar'"
  [medals]="medals"
></app-header>
<div class="container">
  <mat-slider min="2" max="6" step="1" discrete (change)="changeNumberLength()">
    <input matSliderThumb [(ngModel)]="numberLength" />
  </mat-slider>
  <span>Taille du nombre</span>
</div>
<app-number-input
  [response]="response"
  [gameName]="'juste prix'"
  [moreChances]="true"
  (winEvent)="handleWinEvent()"
  (lostEvent)="handleLostEvent()"
></app-number-input>
