.main-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    max-width: 500px;
    width: 100%;
}

.player {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.victory-number {
    margin-right: 2px;
    font-size: 18px;
    font-weight: 500;
}

.player i {
    font-size: 25px;
    color: var(--secondary);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 120px;
    height: auto;
}

.title h1 {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 0 rgb(244,244,244),
    1px 1px 0 rgb(233,233,233),
    2px 2px 0 rgb(222,222,222),
    3px 3px 0 rgb(211,211,211),
    4px 4px  0 rgb(200,200,200),
    5px 5px 4px rgba(0,0,0,0.47),
    5px 5px 1px rgba(0,0,0,0.5),
    0px 0px 4px rgba(0,0,0,.2);
}

.subtitle {
    color: var(--primary);
    text-shadow: 0px 0px 0 rgb(244,-11,0),
                 1px 1px 0 rgb(233,-22,0),
                 2px 2px 0 rgb(222,-33,0),
                 3px 3px 0 rgb(211,-44,0),
                 4px 4px  0 rgb(200,-55,0),
                 5px 5px 4px rgba(0,0,0,0.47),
                 5px 5px 1px rgba(0,0,0,0.5),
                 0px 0px 4px rgba(0,0,0,.2);
}

.container .description {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

nav .game {
    margin: 20px 0;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background);
    box-shadow:  5px 5px 16px #12161b,
             -5px -5px 16px #48566b;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

nav .game.active {
    box-shadow: inset 5px 5px 16px #12161b,
            inset -5px -5px 16px #48566b;
}

nav .game .game-title i {
    font-size: 25px;
    margin-right: 20px;
    color: var(--primary);
}

nav .game .game-title {
    font-size: 20px;
    font-weight: 500;
    width: 120px;
}

.game-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 12px;
    box-shadow:  5px 5px 16px #12161b,
             -5px -5px 16px #48566b;
    background: var(--background);
    border-radius: 10px;
    transition: 0.5s ease;
}

.buttons a:hover {
    box-shadow: inset 5px 5px 16px #12161b,
            inset -5px -5px 16px #48566b;
}

.buttons a i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--text);
}

.buttons a span {
    font-size: 20px;
    font-weight: 500;
}

a:link, a:visited {
    color: var(--text);
}