.players {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.players .player {
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px;
  width: 270px;
}

.players .player.alt-color {
  color: var(--secondary);
}

.players .player .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.players .player .username {
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.players .player .podium {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players .player .podium .order {
  font-size: 22px;
  padding: 0 10px;
  border-radius: var(--light-radius);
  color: var(--primary);
  background-color: var(--accent);
}

.players .player.alt-color .podium .order {
  background-color: var(--secondary);
}

.players .player .medals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: var(--light-radius);
  padding: 3px 0;
  padding-left: 10px;
  padding-right: 5px;
}

.players .player.alt-color .medals {
  background-color: var(--secondary);
}

.victory-number {
  font-size: 18px;
  font-weight: 600;
}

.medals i {
  font-size: 28px;
}

.players .player .responses {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.players .player .responses .response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.players .player .responses .response .description {
  font-size: 18px;
  text-transform: uppercase;
}

.players .player .responses .response i {
  font-size: 28px;
}

.score {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.score span {
  font-weight: bold;
}

.button-container-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.button-container-delete .delete {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  color: red;
  transition: 0.5s ease;
  border: none;
  background-color: var(--primary);
}

.button-container-delete .delete.share {
  width: 50px;
}

.button-container-delete .delete:hover {
  background-color: red;
  color: var(--primary);
}

.button-container-delete .delete i {
  font-size: 30px;
}
