.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -30px;
}

.container mat-slider {
    width: 80%;
    max-width: 300px;
}

.container span {
    font-size: 20px;
    font-weight: 500;
    color: var(--text);
}

.container .mixed-word-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
}

.container .mixed-word {
    color: red;
    font-size: 30px;
    font-weight: 500;
    padding: 17px 12px;
    box-shadow: 5px 5px 16px #12161b,
            -5px -5px 16px #48566b;
    background: var(--background);
    border-radius: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: monospace;
    width: 90%;
}