section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 24px 0 40px;
  color: var(--text-1);
}

.button-container {
  width: 95%;
  margin-top: 28px;
}

mat-spinner:not(.ai) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
