<section>
  <div class="title">
    <h2>Quand réfléchir devient amusant !</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Motus.webp'" alt="Motus.webp" />
      <span>
        Défiez votre esprit avec Motus, seul ou entre amis, et découvrez le
        plaisir de deviner les mots grâce à des indices colorés. Bleu si la
        lettre est bien placée, rouge si elle est présente mais mal placée. Prêt
        à relever le challenge et à progresser à chaque partie ?
      </span>
    </div>

    <div class="feature reverse" #feature>
      <span>
        Testez vos connaissances en géographie en devinant le pays derrière
        chaque drapeau ! Jouez en solo ou en multijoueur et profitez des indices
        couleur pour vous rapprocher de la bonne réponse.
      </span>
      <img [src]="imagePath + 'welcome/Drapeaux.webp'" alt="Drapeaux.webp" />
    </div>

    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Marques.webp'" alt="Marques.webp" />
      <span>
        Reconnaissez-vous les plus grandes marques du monde ? Associez chaque
        logo à son entreprise et mettez vos connaissances à l’épreuve. Comme
        pour les drapeaux et Motus, laissez-vous guider par les indices couleur
        pour trouver la bonne réponse !
      </span>
    </div>

    <div class="feature reverse" #feature>
      <span>
        Découvrez un quiz intelligent généré automatiquement par l’IA !
        Choisissez parmi 25 thèmes et adaptez la difficulté selon le niveau
        scolaire, de la primaire jusqu’au doctorat. Chaque partie est unique et
        s’ajuste à vos connaissances.
      </span>
      <img [src]="imagePath + 'welcome/IA.webp'" alt="IA.webp" />
    </div>

    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Multi.webp'" alt="Multi.webp" />
      <span>
        Collectionnez des médailles à chaque victoire et affrontez vos amis dans
        ces 4 jeux ludiques !
      </span>
    </div>
  </div>
</section>
