<section>
  <div class="title">
    <h2>Quand réfléchir devient amusant !</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Motus.webp'" alt="Motus.webp" />
      <span
        >Défiez votre esprit avec Motus, seul ou entre amis, et découvrez le
        plaisir de deviner les mots grâce à des indices colorés. Prêt à relever
        le challenge et à progresser à chaque partie ?</span
      >
    </div>
    <div class="feature reverse" #feature>
      <span
        >Testez vos connaissances en géographie en devinant le pays derrière
        chaque drapeau ! Jouez en solo ou en multijoueur et laissez-vous
        surprendre par la diversité du monde.</span
      >
      <img [src]="imagePath + 'welcome/Flag.webp'" alt="Flag.webp" />
    </div>
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Medals.webp'" alt="Real-Medals.webp" />
      <span>
        Collectionnez des médailles à chaque victoire et comparez vos exploits
        avec vos amis dans la même room. Utilisez les indices couleur pour
        gagner : bleu si la lettre est bien placée, rouge si elle est présente
        mais mal placée !
      </span>
    </div>
  </div>
</section>
