<section>
  <div class="title">
    <h1>Game Time</h1>
  </div>
  @if (isRegistering || isLogin) {
  <div class="back-container">
    <button
      type="button"
      (click)="toggleLoginOrRegister('welcome')"
      title="Retour"
      class="unactive"
    >
      <i class="bx bxs-left-arrow-circle"></i>
      <span class="text">Retour</span>
    </button>
  </div>
  }
  <div class="button-container">
    <button
      type="button"
      (click)="toggleLoginOrRegister('register')"
      title="S'inscrire"
      [ngClass]="isRegistering ? 'active' : 'unactive'"
    >
      <i class="bx bx-pencil"></i>
      <span class="text">S'inscrire</span>
    </button>
    <button
      type="button"
      (click)="toggleLoginOrRegister('login')"
      title="Se connecter"
      [ngClass]="isLogin ? 'active' : 'unactive'"
    >
      <i class="bx bx-user-circle"></i>
      <span class="text">Se connecter</span>
    </button>
  </div>
  <div class="content">
    @if(!isRegistering && !isLogin) {
    <app-welcome></app-welcome>
    } @else if (isRegistering) {
    <app-register></app-register>
    } @else if(isLogin) {
    <app-login></app-login>
    }
  </div>
</section>
