.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  padding: 10px;
  position: relative;
  min-width: 280px;
}

.button-container-delete {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container-look {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  border: none;
  background-color: var(--primary);
}

button.share {
  width: 50px;
}

.delete {
  color: red;
  transition: 0.5s ease;
}

button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.delete:hover {
  background-color: red;
}

button i {
  font-size: 30px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
  color: var(--secondary);
  transition: 0.5s ease;
}

.players {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.players .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  width: 270px;
  height: 34px;
}

.players .player.admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players .player.alt-color {
  color: var(--secondary);
}

.players .player .username {
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.players .player .medals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: var(--light-radius);
  padding: 3px 0;
  padding-left: 10px;
  padding-right: 5px;
}

.players .player.alt-color .medals {
  background-color: var(--secondary);
}

.victory-number {
  font-size: 18px;
  font-weight: 600;
}

.medals i {
  font-size: 28px;
}
