<div class="container">
  <div class="button-container-delete">
    <button
      type="button"
      (click)="delete()"
      title="Supprimer"
      class="delete share"
    >
      <i class="bx bxs-trash"></i>
    </button>
  </div>
  <div class="button-container-look">
    <button type="button" [routerLink]="room().id" title="Voir" class="share">
      <i class="bx bxs-search"></i>
    </button>
  </div>
  <div class="game">
    <h2>{{ room().gameName }}</h2>
  </div>
  <div class="players">
    @for (otherPlayer of players(); track $index; let i = $index) {
    <div
      class="player"
      [ngClass]="{ 'alt-color': otherPlayer.userId !== room().userId }"
    >
      <span class="username">{{ otherPlayer.username }}</span>
      <div class="medals">
        <span class="victory-number">{{
          room().gameName | medalsNumber : otherPlayer
        }}</span>
        <i class="bx bxs-medal"></i>
      </div>
    </div>
    }@empty {
    <div class="player">
      <span class="username">Vide</span>
    </div>
    }
  </div>
</div>
