<section>
  @if(!loading) {
  <div class="games">
    @for (game of games; track game.key) {
    <button
      type="button"
      [title]="game.label"
      [ngClass]="{ active: gameSelected === game.key }"
      (click)="changeGame(game.key)"
    >
      <div class="flex">
        <i class="{{ game.icon }}"></i>
        <span class="game">{{ game.label }}</span>
      </div>
    </button>
    }
  </div>
  <div class="description">
    <span>Vous avez</span>
    <div class="number">
      @if (gameSelected === motusGameKey) {
      <span>{{ motusMedalsNumber }} médailles</span>
      } @else if (gameSelected === drapeauxGameKey) {
      <span>{{ drapeauxMedalsNumber }} médailles</span>
      } @else if (gameSelected === marquesGameKey) {
      <span>{{ marquesMedalsNumber }} médailles</span>
      }
    </div>
  </div>
  <div class="success-container">
    @for (goal of goals; track $index) {
    <div class="success">
      <div class="title">
        <span
          class="username"
          [appStrikeThrough]="getProgress(goal.target) === 100"
          >{{ goal.label }}</span
        >
        <div class="space">
          <div class="medals">
            <span class="victory-number">{{ goal.reward }}</span>
            <i class="bx bxs-medal"></i>
          </div>
        </div>
      </div>

      @if (getProgress(goal.target) !== 100) {
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="getProgress(goal.target)"
        ></div>
      </div>
      <span class="progress-info">
        {{ currentMedals }} / {{ goal.target }}
      </span>
      }
    </div>
    }
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  }
</section>
