.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

h1 {
  color: black;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 30px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .cancel,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  background-color: var(--primary);
  border-radius: 10px;
  transition: 0.5s ease;
  border: none;
  color: black;
  width: 140px;
}

button i {
  font-size: 25px;
  color: black;
}

button span {
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 500px) {
  .buttons {
    flex-direction: column;
  }

  .buttons .cancel,
  .delete {
    margin: 10px 0;
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 500px;
  }
}
