<div class="main-container">
  <div class="container">
    @for (try of tries; track try) {
      <div class="previous-container">
        <div class="previous" [ngClass]="{ red: try.isResult }">
          {{ try.number }}
          @if (!try.isResult) {
            <div
              class="sign"
              [ngClass]="{ greater: try.isGreater, red: !try.isGreater }"
              >
              @if (try.isGreater && try.isBigGap && !try.isCloseGap) {
                <i
                  class="bx bxs-up-arrow-circle"
                ></i>
              }
              @if (try.isGreater && !try.isBigGap && !try.isCloseGap) {
                <i
                  class="bx bxs-right-top-arrow-circle"
                ></i>
              }
              @if (try.isGreater && !try.isBigGap && try.isCloseGap) {
                <i
                  class="bx bxs-right-arrow-circle"
                ></i>
              }
              @if (!try.isGreater && !try.isBigGap && try.isCloseGap) {
                <i
                  class="bx bxs-right-arrow-circle"
                ></i>
              }
              @if (!try.isGreater && !try.isBigGap && !try.isCloseGap) {
                <i
                  class="bx bxs-right-down-arrow-circle"
                ></i>
              }
              @if (!try.isGreater && try.isBigGap && !try.isCloseGap) {
                <i
                  class="bx bxs-down-arrow-circle"
                ></i>
              }
            </div>
          }
        </div>
      </div>
    }
    <form (ngSubmit)="submitAnswer()">
      <input
        [attr.maxlength]="maxlength"
        (keydown)="onKeyDown($event)"
        [(ngModel)]="inputValue"
        [ngModelOptions]="{ standalone: true }"
        />
        <span class="placeholder">{{ wordToFind }}</span>
        <button class="submit" type="submit">Submit</button>
      </form>
      <i [ngClass]="emojiClass" [ngStyle]="emojiStyle"></i>
    </div>
  </div>
