<section>
  @if(!loading) {
  <div class="button-container">
    <button type="button" (click)="openAddRoomDialog()" title="Ajouter">
      <i class="bx bx-plus"></i>
      <span class="text">Ajouter</span>
    </button>
  </div>
  <div class="rooms">
    @for (room of rooms; track $index) {
    <app-room-card
      [room]="room"
      [players]="playersByRoom[room.id!]"
      (deleteEvent)="openDialog(room.id!)"
      title="Résultats"
    ></app-room-card>
    }
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  }
</section>
