<section>
  @if(!loading) {
  <form class="player">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedRoomType" name="game" class="cap">
        <mat-option value="attente" class="cap-option">
          <div class="flex">
            <i class="bx bxs-time-five"></i>
            <span class="game">Attente</span>
          </div>
        </mat-option>
        @for (game of games; track $index) {
        <mat-option [value]="game.key" class="cap-option">
          <div class="flex">
            <i class="{{ game.icon }}"></i>
            <span class="game">{{ game.label }}</span>
          </div>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <div class="rooms">
    @for (room of rooms; track $index) { @if (canDisplayRoom(room)) {
    <app-room-card
      [room]="room"
      [players]="playersByRoom[room.id!]"
      (deleteEvent)="deleteRoom(room.id!)"
    ></app-room-card>
    } }
  </div>
  @if (canAddRoom()) {
  <div class="button-container">
    <button type="button" (click)="addRoom()" title="Ajouter">
      <i class="bx bx-plus"></i>
      <span class="text">Ajouter</span>
    </button>
  </div>
  }
  <form class="player">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedPlayer" name="game" class="cap">
        @for (player of players; track $index) {
        <mat-option [value]="player" class="cap-option">
          {{ player.username }} {{ player.animal }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  @if (selectedPlayer) {
  <app-player-card
    [player]="selectedPlayer"
    (updateEvent)="openUserDialog()"
  ></app-player-card>
  } } @else {
  <mat-spinner></mat-spinner>
  }
</section>
