<section>
  @if(!loading) {
  <div class="toggle-container">
    <mat-slide-toggle [(ngModel)]="roomMode"
      >Afficher les rooms</mat-slide-toggle
    >
  </div>
  @if (roomMode) {
  <div class="button-container">
    <button type="button" (click)="addRoom()" title="Ajouter">
      <i class="bx bx-plus"></i>
      <span class="text">Ajouter</span>
    </button>
  </div>
  <div class="rooms">
    @for (room of rooms; track $index) {
    <app-room-card
      [room]="room"
      [players]="playersByRoom[room.id!]"
      (deleteEvent)="deleteRoom(room.id!)"
    ></app-room-card>
    }
  </div>
  } @else {
  <div class="players">
    @for (player of players; track $index) {
    <app-player-card
      [player]="player"
      (updateEvent)="updatePlayer($event)"
    ></app-player-card>
    }
  </div>
  } } @else {
  <mat-spinner></mat-spinner>
  }
</section>
