<div class="players-room">
  @for (playerRoom of room().playersRoom; track $index; let i = $index) {
  <div
    class="player"
    [ngClass]="{ 'alt-color': playerRoom.userId !== player().userId }"
  >
    <span class="username">{{ playerRoom.username }}</span>
    <div class="medals">
      <span class="victory-number">{{ playerRoom.medalsNumber }}</span>
      <i class="bx bxs-medal"></i>
    </div>
  </div>
  }
  <div class="player spinner">
    <mat-spinner diameter="34"></mat-spinner>
  </div>
</div>
