<div class="players">
  @for (otherPlayer of players(); track $index; let i = $index) {
  <div
    class="player"
    [ngClass]="{ 'alt-color': otherPlayer.userId !== player().userId }"
  >
    @if (otherPlayer.userId !== player().userId && room().userId ===
    player().userId) {
    <div class="button-container-delete">
      <button
        type="button"
        (click)="delete(otherPlayer.userId!)"
        title="Supprimer"
        class="delete share"
      >
        <i class="bx bxs-trash"></i>
      </button>
    </div>
    }
    <span class="username">{{ otherPlayer.username }}</span>
    <div class="medals">
      <span class="victory-number">{{
        room().gameName | medalsNumber : otherPlayer
      }}</span>
      <i class="bx bxs-medal"></i>
    </div>
  </div>
  }
  <div class="player spinner">
    <mat-spinner diameter="34"></mat-spinner>
  </div>
</div>
