.players {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.players .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.players .player {
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px;
  width: 340px;
}

.players .player.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players .player i {
  font-size: 28px;
}

.players .player.alt-color {
  color: var(--secondary);
}

.players .player .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.players .player .username {
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.players .player .end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.players .player .medals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: var(--light-radius);
  padding: 3px 0;
  padding-left: 10px;
  padding-right: 5px;
  width: 70px;
  height: 28px;
}

.players .player.alt-color .medals {
  background-color: var(--secondary);
}

.victory-number {
  font-size: 18px;
  font-weight: 600;
}

.medals i {
  font-size: 28px;
}

.button-container-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.button-container-delete .delete {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  color: red;
  transition: 0.5s ease;
  border: none;
  background-color: var(--primary);
}

.button-container-delete .delete.share {
  width: 50px;
}

.button-container-delete .delete:hover {
  background-color: red;
  color: var(--primary);
}

.button-container-delete .delete i {
  font-size: 30px;
}

@media screen and (max-width: 370px) {
  .players .player {
    width: 270px;
  }

  .players .player .flex {
    height: unset;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .players .player .username {
    text-align: center;
  }
}
