<div class="players">
  @for (otherPlayer of players(); track $index; let i = $index) {
  <div class="container">
    <div
      class="player"
      [ngClass]="{ 'alt-color': otherPlayer.userId !== player().userId }"
    >
      <div class="flex">
        <span class="username">{{ otherPlayer.username }}</span>
        <div class="end">
          @if (otherPlayer.isReady && room().userId !== otherPlayer.userId) {
          <i class="bx bxs-check-circle" title="Prêt"></i>
          } @else if (room().userId !== otherPlayer.userId) {
          <i class="bx bxs-x-circle" title="Pas prêt" style="color: red"></i>
          }
          <div class="medals">
            <span class="victory-number">{{
              otherPlayer | totalMedalsNumber
            }}</span>
            <i class="bx bxs-medal"></i>
          </div>
        </div>
      </div>
    </div>
    @if (otherPlayer.userId !== player().userId && room().userId ===
    player().userId) {
    <div class="button-container-delete">
      <button
        type="button"
        (click)="delete(otherPlayer)"
        title="Supprimer"
        class="delete share"
      >
        <i class="bx bxs-trash"></i>
      </button>
    </div>
    }
  </div>
  }
  <div class="player spinner">
    <mat-spinner diameter="34"></mat-spinner>
  </div>
</div>
