section {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 10px;
  border-radius: var(--light-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
}

section h1 {
  font-size: 20px;
  color: var(--accent);
  text-align: center;
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

section .content .element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .content .element .title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary);
  text-align: left;
  width: 180px;
}

section .content .element .code {
  color: var(--accent);
  margin-left: 10px;
  font-size: 22px;
  letter-spacing: 1px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  color: var(--accent);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 160px;
  border: none;
  background-color: var(--primary);
}

button.share {
  width: 50px;
}

section .button-container .delete {
  color: red;
  transition: 0.5s ease;
}

section button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .button-container .delete:hover {
  background-color: red;
  color: var(--primary);
}

section button i {
  font-size: 40px;
}

section button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
