<div class="main-container">
  <div class="container">
    @for (try of tries; track $index) {
    <div class="previous-container">
      <div class="previous">
        @for (letter of try.letter; track $index; let i = $index) {
        <span
          class="letter"
          [ngClass]="{
            wellPlaced: try.isWellPlaced[i],
            wrongPlaced: try.isWrongPlaced[i]
          }"
        >
          {{ letter }}
        </span>
        }
      </div>
    </div>
    }
    <form (ngSubmit)="submitAnswer()">
      <input
        [attr.maxlength]="maxlength"
        (keydown)="onKeyDown($event)"
        [(ngModel)]="inputValue"
        [ngModelOptions]="{ standalone: true }"
        [disabled]="isOver"
      />
      @if (!isOver) {
      <span class="placeholder">{{ wordToFind }}</span>
      }
      <button class="submit" type="submit">Submit</button>
    </form>
    <i [ngClass]="emojiClass" [ngStyle]="emojiStyle"></i>
  </div>
</div>
