:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.responses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  padding: 10px;
  width: 340px;
}

.responses .response {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--secondary);
}

.responses .response.title {
  color: var(--accent);
}

.responses .response span {
  font-size: 18px;
  font-weight: 600;
}

.responses .response .result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responses .response .result i {
  font-size: 28px;
}

.me {
  width: 32px;
}

.other {
  width: 130px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value {
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

form.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 130px;
}

mat-form-field {
  width: 100%;
}

mat-select {
  margin-top: 3px;
}

::ng-deep .mat-mdc-select-value {
  text-align: center;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .mat-mdc-select-panel {
  background-color: var(--primary) !important;
}

::ng-deep .result .mat-mdc-select {
  color: var(--secondary) !important;
}

::ng-deep .result .mat-mdc-select-arrow svg {
  fill: var(--secondary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: var(--accent) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text
  .flex
  i {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text
  .flex
  .game {
  color: var(--primary) !important;
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  color: var(--primary) !important;
}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--primary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  display: none;
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep .result .mat-mdc-select-value {
  font-size: 18px;
  font-weight: 600;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 30px;
}

::ng-deep
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  padding: 0;
}

@media screen and (max-width: 370px) {
  .responses {
    width: 270px;
    background-color: unset;
    padding: 0;
    border-radius: unset;
  }

  .responses .response {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--primary);
    border-radius: var(--light-radius);
    width: 100%;
  }

  .me {
    width: 100%;
    text-align: center;
  }

  .other {
    width: 100%;
    text-align: center;
  }

  .value {
    width: 100%;
    text-align: center;
  }
}
