<header>
  <div class="project-title">
    @if (room().isStarted) {
    <h1>{{ room().gameName || "" }}</h1>
    } @else {
    <h1>{{ "Multi" }}</h1>
    }
  </div>
  <div class="switch-container">
    <div class="medals">
      <span class="victory-number">{{ getMedalsNumber() }}</span>
      <i class="bx bxs-medal"></i>
    </div>
    @if (room().isStarted) {
    <div class="players-room">
      @for (playerRoom of sortedPlayersRoom; track $index) {
      <div
        class="player"
        [ngClass]="{ 'alt-color': playerRoom.userId !== player().userId }"
      >
        <span class="username">{{ playerRoom.username }}</span>
        @if (playerRoom.currentRoomWins.length !== room().responses.length) {
        <span class="step">
          {{ playerRoom.currentRoomWins.length + 1 }}<span class="slash">/</span
          >{{ room().responses.length }}
        </span>
        } @else {
        <span class="step">Terminé</span>
        }
      </div>
      }
    </div>
    }
  </div>
</header>
