header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  color: var(--accent);
  position: relative;
  min-height: 50px;
}

.project-title {
  top: 20px;
  position: absolute;
  z-index: 2;
}

.project-title h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.switch-container {
  top: 8px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  z-index: 1;
}

.medals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  margin: 5px 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 7px;
  padding-right: 3px;
}

.victory-number {
  font-size: 22px;
  font-weight: 600;
}

.medals i {
  font-size: 32px;
}

.players-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: var(--light-radius);
  background-color: var(--primary);
  color: var(--accent);
  margin: 5px 0;
  padding: 7px 0;
  padding-left: 8px;
  padding-right: 5px;
  min-height: 36px;
}

.players-room .progress {
  font-size: 15px;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
  margin: 2px;
}

.players-room .progress.alt-color {
  color: var(--secondary);
}

.players-room .progress .step {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: var(--light-radius);
  padding: 3px 7px;
  padding-left: 5px;
  margin-left: 7px;
}

.players-room .progress.alt-color .step {
  background-color: var(--secondary);
}

.slash {
  margin: 0 2px;
}

@media screen and (max-width: 550px) {
  .project-title {
    top: 20px;
  }

  .project-title h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .project-title {
    top: 24px;
  }

  .project-title h1 {
    font-size: 22px;
  }
}
