<section>
  @if (!loading) {
  <div class="content">
    <app-security
      [user]="userService.currentUserSig()!"
      (updateEvent)="openPasswordDialog()"
    ></app-security>
    <app-user
      [player]="playerService.currentPlayerSig()!"
      (updateEvent)="openUserDialog()"
    ></app-user>
    <div class="button-container">
      <button
        type="button"
        (click)="openDialog()"
        title="Supprimer Profil"
        class="delete"
      >
        <i class="bx bxs-trash"></i>
        <span class="text">Supprimer Profil</span>
      </button>
    </div>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
