<div class="container">
  <div class="player-header">
    <span class="avatar">{{ player().animal }}</span>
    <span class="username">{{ player().username }}</span>
    @if (player().isAdmin) {
      <span class="tag">Admin</span>
    }
  </div>

  <div class="totals">
    <div class="medals">
      <span class="victory-number">{{ player() | totalMedalsNumber }}</span>
      <i class="bx bxs-medal"></i>
    </div>
    <span class="chip">
      <i class="bx bxs-group"></i>
      {{ friendsNumber }}
    </span>
  </div>

  <div class="medals-container">
    @for (game of games; track game.key) {
      <div class="column">
        <span class="flex">
          <i class="{{ game.icon }}"></i>
          <span class="game">{{ game.label }}</span>
        </span>
        <div class="medals">
          <span class="victory-number">{{
            game.key | medalsNumber: player()
          }}</span>
          <i class="bx bxs-medal"></i>
        </div>
      </div>
    }
  </div>

  <div class="button-container">
    <button type="button" (click)="update()" title="Modifier">
      <i class="bx bxs-edit-alt"></i>
      <span class="text">Modifier</span>
    </button>
  </div>
</div>
