<div class="container">
  <div class="medals-container">
    @for (game of games; track $index) {
    <div class="column">
      <div class="flex">
        <i class="{{ game.icon }}"></i>
        <span class="game">{{ game.label }}</span>
      </div>
      <div class="medals">
        <span class="victory-number">{{
          game.key | medalsNumber : player()
        }}</span>
        <i class="bx bxs-medal"></i>
      </div>
    </div>
    }
  </div>
  <div class="button-container">
    <button type="button" (click)="update()" title="Modifier">
      <i class="bx bxs-edit-alt"></i>
      <span class="text">Modifier</span>
    </button>
  </div>
</div>
