:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  padding: 10px;
  margin-bottom: 20px;
}

.container .medals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.container .medals-container .column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.flex i {
  font-size: 28px;
  color: var(--secondary);
}

.game {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--secondary);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.medals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: var(--light-radius);
  padding: 3px 0;
  padding-left: 10px;
  padding-right: 5px;
  width: 80px;
}

.victory-number {
  font-size: 18px;
  font-weight: 600;
}

.medals i {
  font-size: 28px;
}

.container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.container .button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
  transition: 0.5s ease;
  width: 140px;
  border: none;
  background-color: var(--primary);
  box-shadow: 0 2px 6px rgba(40, 40, 40, 0.126);
}

.container .button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.container .button-container button i {
  font-size: 30px;
}

.container .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
