.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}

.container img {
  height: 107px;
  width: 160px;
  object-fit: cover;
  background: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
