<section>
  @if (!loading) { @if (room.startDate) {
  <span class="description-title first"
    >{{ room.gameName | uppercase }} | {{ room.roomCode | uppercase }}</span
  >
  <span class="description-title"
    >Commencé le {{ room.startDate | customDate }}</span
  >
  <div class="toggle-container">
    <mat-slide-toggle [(ngModel)]="hideResults">
      Cacher résultats
    </mat-slide-toggle>
  </div>
  } @else {
  <span class="description-title">Pas encore commencé</span>
  }
  <div class="players">
    @for (otherPlayer of players; track $index; let i = $index) {
    <div class="container">
      <div
        class="player"
        [ngClass]="{ 'alt-color': otherPlayer.userId !== room.userId }"
      >
        <div class="flex">
          <span class="username">{{ otherPlayer.username }}</span>
          @if (otherPlayer.isReady && room.userId !== otherPlayer.userId) {
          <i class="bx bxs-check-circle" title="Prêt"></i>
          } @else if (room.userId !== otherPlayer.userId) {
          <i class="bx bxs-x-circle" title="Pas prêt" style="color: red"></i>
          }
          <div class="medals">
            <span class="victory-number">{{
              room.gameName | medalsNumber : otherPlayer
            }}</span>
            <i class="bx bxs-medal"></i>
          </div>
        </div>
        <div class="score">
          @if (players.length > 1) {
          <div class="podium">
            @if (i + 1 === 1) {
            <i class="bx bxs-trophy" style="color: gold"></i>
            } @else if (i + 1 === 2) {
            <i class="bx bxs-trophy" style="color: silver"></i>
            }@else if (i + 1 === 3) {
            <i class="bx bxs-trophy" style="color: #cd7f32"></i>
            } @else {
            <span class="order">{{ i + 1 }}</span>
            }
          </div>
          <span>-</span>
          }@if (otherPlayer.finishDate) {
          <span>{{
            room.startDate | durationBetweenDates : otherPlayer.finishDate
          }}</span>
          } @else {
          <i class="bx bx-loader-alt bx-spin" style="color: var(--accent)"></i>
          }
        </div>
        <div class="responses">
          @for (response of room.responses; track $index; let j = $index) {
          <div class="response">
            <span class="description" [class.blurred]="hideResults">{{
              response
            }}</span>
            @if (otherPlayer.currentRoomWins[j] === true && room.isStarted) {
            <i class="bx bx-check"></i>
            } @else if (otherPlayer.currentRoomWins[j] === false &&
            room.isStarted) {
            <i class="bx bx-x" style="color: red"></i>
            } @else {
            <i
              class="bx bx-loader-alt bx-spin"
              style="color: var(--accent)"
            ></i>
            }
          </div>
          }
        </div>
      </div>
      @if ((!room.isStarted || allPlayersDone()) && otherPlayer.userId !==
      room.userId) {
      <div class="button-container-delete">
        <button
          type="button"
          (click)="removePlayer(otherPlayer.userId!)"
          title="Supprimer"
          class="delete share"
        >
          <i class="bx bxs-trash"></i>
        </button>
      </div>
      }
    </div>
    } @empty {
    <div class="player">
      <div class="flex">
        <span class="username">0 players</span>
      </div>
      <div class="responses">
        @for (response of room.responses; track $index; let j = $index) {
        <div class="response">
          <span class="description" [class.blurred]="hideResults">{{
            response
          }}</span>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="button-container">
    @if (!room.isStarted || allPlayersDone()) {
    <button
      type="button"
      (click)="multiplayer()"
      title="Multijoueur"
      class="share"
    >
      <i class="bx bxs-user-plus"></i>
      <span class="text">Multijoueur</span>
    </button>
    <button type="button" (click)="openAddRoomDialog()" title="Lancer">
      <i class="bx bx-play"></i>
      <span class="text">Lancer</span>
    </button>
    } @else {
    <button type="button" (click)="stop()" title="Arrêter" class="delete">
      <i class="bx bxs-error-alt"></i>
      <span class="text">Arrêter</span>
    </button>
    } @if(!room.isCreatedByAdmin) {
    <button type="button" (click)="joinRoom()" title="Rejoindre" class="share">
      <i class="bx bxs-door-open"></i>
      <span class="text">Rejoindre</span>
    </button>
    }
  </div>
  } @else { @if (room.isLoading && room.gameName === quizGameKey) {
  <div class="ai-container">
    <mat-spinner class="ai"></mat-spinner>
    <span
      >L'IA génère les questions du thème
      <span class="accent">{{ room.categoryFilter | quizCategory }}</span>
      en difficulté
      <span class="accent">{{ room.difficultyFilter | difficulty }}</span></span
    >
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  } }
</section>
