<section>
  @if (!loading) {
  <div class="toggle-container">
    <mat-slide-toggle [(ngModel)]="hideResults">
      Cacher résultats
    </mat-slide-toggle>
  </div>
  <div class="players-room">
    @for (playerRoom of sortedPlayersRoom; track $index; let i = $index) {
    <div
      class="player"
      [ngClass]="{ 'alt-color': playerRoom.userId !== room.userId }"
    >
      <div class="flex">
        <span class="username">{{ playerRoom.username }}</span>
        <div class="medals">
          <span class="victory-number">{{ playerRoom.medalsNumber }}</span>
          <i class="bx bxs-medal"></i>
        </div>
        @if (!room.isSolo) {
        <div class="podium">
          @if (i + 1 === 1) {
          <i class="bx bxs-trophy" style="color: gold"></i>
          } @else if (i + 1 === 2) {
          <i class="bx bxs-trophy" style="color: silver"></i>
          }@else if (i + 1 === 3) {
          <i class="bx bxs-trophy" style="color: #cd7f32"></i>
          } @else {
          <span class="order">{{ i + 1 }}</span>
          }
        </div>
        }
      </div>
      <div class="time">
        <span>{{
          room.startDate | durationBetweenDates : playerRoom.finishDate
        }}</span>
      </div>
      <div class="responses">
        @for (response of room.responses; track $index; let j = $index) {
        <div class="response">
          <span class="description" [class.blurred]="hideResults">{{
            response
          }}</span>
          @if (playerRoom.currentRoomWins[j] === true) {
          <i class="bx bx-check"></i>
          } @else if (playerRoom.currentRoomWins[j] === false) {
          <i class="bx bx-x" style="color: red"></i>
          } @else {
          <i class="bx bx-loader-alt bx-spin" style="color: var(--accent)"></i>
          }
        </div>
        }
      </div>
    </div>
    } @empty {
    <div class="player">
      <div class="flex">
        <span class="username">Admin room</span>
      </div>
      <div class="responses">
        @for (response of room.responses; track $index; let j = $index) {
        <div class="response">
          <span class="description" [class.blurred]="hideResults">{{
            response
          }}</span>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="button-container">
    @if (!room.isStarted || allPlayersDone()) {
    <button type="button" (click)="share()" title="Partager" class="share">
      <i class="bx bx-link"></i>
    </button>
    <button type="button" (click)="start()" title="Lancer">
      <i class="bx bx-play"></i>
      <span class="text">Lancer</span></button
    >} @else {
    <button type="button" (click)="stop()" title="Arrêter" class="delete">
      <i class="bx bxs-error-alt"></i>
      <span class="text">Arrêter</span>
    </button>
    }
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  }
</section>
