<section>
  @if (!loading) { @if (room.isStarted) {
  <span class="description-title first"
    >{{ room.gameName | uppercase }} | {{ room.roomCode | uppercase }}</span
  >
  <span class="description-title"
    >Commencé le {{ room.startDate | customDate }}</span
  >
  } @else {
  <span class="description-title">Pas encore commencé</span>
  } @if(room.isStarted) { @if (isDetailModeActive) {
  <app-admin-results-details
    [room]="room"
    [players]="players"
  ></app-admin-results-details>
  } @else {
  <app-results-podium
    [room]="room"
    [player]="playerService.currentPlayerSig()!"
    [players]="players"
    (deleteEvent)="removePlayer($event)"
  ></app-results-podium>
  } } @else {
  <app-waiting-room
    [room]="room"
    [player]="playerService.currentPlayerSig()!"
    [players]="players"
    (deleteEvent)="removePlayer($event)"
  ></app-waiting-room>
  }
  <div class="button-container">
    @if (room.isStarted) {@if (isDetailModeActive) {
    <button
      type="button"
      (click)="seeDetails()"
      title="Voir podium"
      class="share"
    >
      <i class="bx bxs-trophy"></i>
      <span class="text">Voir podium</span>
    </button>
    } @else {
    <button
      type="button"
      (click)="seeDetails()"
      title="Voir détails"
      class="share"
    >
      <i class="bx bxs-user-detail"></i>
      <span class="text">Voir détails</span>
    </button>
    } } @if (!room.isStarted || allPlayersDone()) {
    <button
      type="button"
      (click)="multiplayer()"
      title="Multijoueur"
      class="share"
    >
      <i class="bx bxs-user-plus"></i>
      <span class="text">Multijoueur</span>
    </button>
    <button type="button" (click)="openDialogs()" title="Lancer">
      <i class="bx bx-play"></i>
      <span class="text">Lancer</span>
    </button>
    } @else {
    <button type="button" (click)="stop()" title="Arrêter" class="delete">
      <i class="bx bxs-error-alt"></i>
      <span class="text">Arrêter</span>
    </button>
    } @if(canJoin()) {
    <button type="button" (click)="joinRoom()" title="Rejoindre" class="share">
      <i class="bx bxs-door-open"></i>
      <span class="text">Rejoindre</span>
    </button>
    }
  </div>
  } @else { @if (room.isLoading && room.gameName === quizGameKey) {
  <div class="ai-container">
    <mat-spinner class="ai"></mat-spinner>
    <span
      >L'IA génère les questions du thème
      <span class="accent">{{ room.categoryFilter | quizCategory }}</span>
      en difficulté
      <span class="accent">{{ room.difficultyFilter | difficulty }}</span></span
    >
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  } }
</section>
