:root {
  --background: #62cbd7;
  --primary: white;
  --secondary: black;
  --accent: blue;

  --strong-radius: 20px;
  --light-radius: 10px;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background);
}

::-webkit-scrollbar {
  display: none;
}

.toast-container .ngx-toastr.custom {
  box-shadow: none;
  border-radius: var(--light-radius);
  margin-top: 5px;
}

.toast-container .ngx-toastr.custom.info {
  background-color: var(--accent);
  color: var(--primary);
}

.toast-container .ngx-toastr.custom.error {
  background-color: red;
}

.cdk-global-scrollblock {
  position: fixed !important;
  top: 0 !important;
}
