section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  width: 100%;
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 120px;
  height: auto;
}

.title h1 {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
}

.subtitle {
  color: var(--secondary);
}

section .description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
  width: 90%;
}

.games {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  max-width: 600px;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  cursor: pointer;
  padding: 12px;
  background-color: var(--primary);
  color: var(--accent);
  border-radius: 10px;
  transition: 0.5s ease;
  border: none;
}

button.active {
  background-color: var(--accent);
  color: var(--primary);
  cursor: default;
}

button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.medals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.victory-number {
  font-size: 22px;
  font-weight: 600;
}

.medals i {
  font-size: 32px;
}

button i {
  font-size: 32px;
}

button .game {
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modes {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.modes .mode {
  height: 50px;
}

.modes .mode.play {
  width: 150px;
  margin-bottom: 20px;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}

.slider-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -30px;
  width: 100%;
}

.slider-container.top {
  margin-top: 40px;
}

.slider-container mat-slider {
  width: 80%;
  max-width: 300px;
}

.slider-container span {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
}

.toggle-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 95%;
}

mat-slide-toggle {
  width: 100%;
  max-width: 320px;
}

::ng-deep .mdc-slider__track--active_fill {
  border-color: var(--accent) !important;
}

::ng-deep .mdc-slider__track--inactive {
  background-color: white !important;
  opacity: 1 !important;
}

::ng-deep .mdc-slider__thumb-knob {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

::ng-deep .mdc-slider__value-indicator {
  background-color: var(--accent) !important;
}

::ng-deep .mat-mdc-slide-toggle .mat-internal-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled + .mdc-label {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
  text-align: left;
  margin: 0;
  width: 250px;
}

::ng-deep .mdc-switch__track::after {
  background: var(--accent) !important;
}

::ng-deep .mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: var(--primary) !important;
}

::ng-deep .mdc-switch--selected .mdc-switch__icon {
  fill: var(--accent) !important;
}

::ng-deep .mdc-switch__track::before {
  background: var(--primary) !important;
}

::ng-deep .mdc-switch--unselected .mdc-switch__icon {
  fill: var(--primary) !important;
}

::ng-deep .showContinent .mdc-slider__value-indicator-container {
  transform: none !important;
  left: -25% !important;
}

::ng-deep .showContinent .mdc-slider__value-indicator {
  width: 70px !important;
  border-radius: var(--light-radius) !important;
}

::ng-deep .showContinent .mdc-slider__value-indicator-text {
  transform: none !important;
  width: 70px !important;
}
