<section>
  @if (!loading) {
  <span class="description">Voici vos dernières stats :</span>

  <div class="games">
    @for (game of games; track game.key) {
    <div class="game-container">
      <div class="flex">
        <i class="{{ game.icon }}"></i>
        <span class="game">{{ game.label }}</span>
      </div>
      <div class="medals">
        <span class="victory-number">{{
          game.key | medalsNumber : playerService.currentPlayerSig()!
        }}</span>
        <i class="bx bxs-medal"></i>
      </div>
    </div>
    }
  </div>
  <div class="button-container">
    <button type="button" (click)="play()" title="Jouer">
      <i class="bx bx-play"></i>
      <span class="text">Jouer</span>
    </button>
  </div>
  <span class="description">Voulez-vous rejoindre une room existante ?</span>
  <app-join-room (joinRoomEvent)="joinRoom($event)"></app-join-room>
  } @else {
  <mat-spinner></mat-spinner>
  }
</section>
