<app-header
  [game]="'calcul'"
  [logo]="'bx bx-math'"
  [medals]="medals"
></app-header>
<div class="container">
  <mat-slider min="1" max="3" step="1" discrete (change)="changeDifficulty()">
    <input matSliderThumb [(ngModel)]="difficulty" />
  </mat-slider>
  <span>Difficulté</span>
  <div class="equation-container">
    <div class="sign-selection">
      <span class="equation">{{ equation }}</span>
      <div class="signs">
        <i
          class="bx bx-plus"
          [ngClass]="{ active: isActive[0] }"
          (click)="trigger(0)"
        ></i>
        <i
          class="bx bx-minus"
          [ngClass]="{ active: isActive[1] }"
          (click)="trigger(1)"
        ></i>
        <i
          class="bx bx-x"
          [ngClass]="{ active: isActive[2] }"
          (click)="trigger(2)"
        ></i>
        <i
          class="bx bx-question-mark"
          [ngClass]="{ active: isActive[3] }"
          (click)="trigger(3)"
        ></i>
      </div>
    </div>
  </div>
</div>
<app-number-input
  [response]="response"
  [gameName]="'calcul'"
  [rounded]="false"
  (winEvent)="handleWinEvent()"
  (lostEvent)="handleLostEvent()"
></app-number-input>
