<div class="container">
  <div class="question">
    <span>{{ room().questions[index].description }}</span>
  </div>
  <div class="answers">
    @for (answer of room().questions[index].answers; track $index) {
    <button
      type="button"
      class="answer"
      (click)="submitAnswer(answer)"
      [ngClass]="{
        right: isOver && answer === room().responses[index],
        wrong: isOver && answer !== room().responses[index]
      }"
    >
      {{ answer }}
    </button>
    }
  </div>
</div>
